# Node.js dependencies
/node_modules/

# Output directories
/public/styles/
  
# Log files
*.log

# npm-debug files
npm-debug.log*

# OS-specific files
.DS_Store  # macOS
Thumbs.db  # Windows

# Vercel deployment
.vercel/

# IDE/Editor specific files
.vscode/
.idea/

# Environment variable files
.env
