@font-main: "Gilroy";
@font-path: "../assets/fonts/";
@main-color: 244, 60%, 50%;
@sec-color: 210, 15%, 96%;
@head-text-color: 210, 15%, 20%;
@sec-text-color: 210, 15%, 20%;
@border-color: #e7e9ed;

@font-face {
  font-family: @font-main;
  src: url("@{font-path}Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: @font-main;
  src: url("@{font-path}Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: @main-color;
  --sec-color: @sec-color;
  --head-text-color: @head-text-color;
  --sec-text-color: @sec-text-color;
}

body {
  font-family: @font-main, sans-serif;
  font-size: 62.5%;
}

a {
  text-decoration: none;

  &:not(.contact-links) {
    color: inherit;
  }
}

input,
select {
  background: white;
  outline: none;
  border-radius: 8px;
  border: solid 1px @border-color;
  padding: 1rem 2rem;
  transition: 0.3s;
  width: 100%;

  &::placeholder {
    color: #161c2d;
  }

  &:focus {
    border-color: hsl(@main-color);
  }
}

h3,
label {
  color: hsl(@head-text-color);
}

h3 + p {
  color: hsl(@sec-text-color);
}

.divide {
  height: 1px;
  background: #d1d0d069;
  width: 100%;
}

// Layout Helpers
.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: 1rem;

  @media (min-width: 640px) {
    max-width: 640px;
  }

  @media (min-width: 768px) {
    max-width: 768px;
  }

  @media (min-width: 1280px) {
    max-width: 1280px;
  }

  @media (min-width: 1536px) {
    max-width: 1536px;
  }
}

.flex {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
}

.items-center {
  display: flex;
  align-items: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
  gap: 8px;
  li {
    cursor: pointer;
    transition: 0.3s;
    padding-block: 5px;
    &:hover {
      color: #483cee;
    }
  }
}

button {
  cursor: pointer;
  min-width: fit-content;
  outline: none;
  border-radius: 10px;
  border: none;
  padding: 1rem 2rem;
  transition: ease 0.3s;
  font-weight: 800;
  background: hsl(var(--main-color));
  color: white;
  width: fit-content;

  &.btnIcon {
    justify-content: space-between;
    gap: 15px;
  }

  &:hover {
    background: #3c2ff3;
  }
}
.btnIcon i,
.services-cards .card i {
  transition: ease 0.3s;
  transform: translate(0);
}

.btnIcon:hover i,
.services-cards .card:hover i {
  transform: translate(10px);
}

/* header */
header {
  min-height: 100vh;
  background: url("../../assets/images/header.png"),
    linear-gradient(to right, #0505059d 30%, #ecdfdf 80%);
  background-position: center, center;
  background-blend-mode: multiply;
  background-size: cover, cover;
  color: white;
  padding-block: 2rem;
  .logo {
    font-weight: 700;
    font-size: 1.5rem;
  }

  .content {
    width: 100%;
    max-width: 590px;
    margin-top: 60px;
  }

  p {
    font-size: 1.5rem;
    color: hsl(var(--sec-color));
    line-height: 2;
    margin-bottom: 20px;
  }
  h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
}

nav {
  padding: 0px;
  text-transform: capitalize;
  .right {
    gap: 20px;
  }

  li {
    font-size: 1rem;
  }
}

/* stats */
section {
  margin-block: 2rem;
}

.stats {
  padding: 44px 8px;
}
.state {
  gap: 16px;
}

.stats-cards {
  display: grid;
  gap: 2rem;
  margin-top: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  h3 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1rem;
    max-width: 175px;
  }
}

.section-head {
  h2 {
    text-align: center;
    margin-block: 32px;
    font-size: 1.75rem;
  }

  p {
    text-align: center;
    margin: 32px auto;
    max-width: 589px;
    font-size: 1rem;
    line-height: 2;
  }
}

.services {
  padding-block: 25px;

  .card-foot {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 8px;
  }

  .card {
    font-size: 22px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0px 0px 1px #d4d2d2;
    cursor: pointer;

    .img-container {
      width: 100%;
      height: 12rem;
      overflow: hidden;
      border-radius: 0.5rem;
    }
  }

  &-cards {
    display: grid;
    gap: 2rem;
    margin-top: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

/* about */
.about {
  padding-block: 25px;
  background: hsl(var(--sec-color));

  .img-container {
    width: 50%;
    margin-bottom: 0;
    height: 24rem;
    overflow: hidden;
    border-radius: 0.5rem;
  }

  &-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &-layout {
    align-items: flex-start;
  }

  &-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .item-point {
    background: rgba(71, 59, 240, 10%);
    border-radius: 50%;
    flex-shrink: 0;
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    color: hsl(var(--main-color));
    font-size: 1.2rem;
  }

  .about-item {
    display: flex;
    gap: 2rem;

    h3 {
      margin-bottom: 1rem;
      color: hsl(var(--head-text-color));
      font-size: 1.6rem;
    }

    p {
      color: hsl(var(--sec-text-color));
      font-size: 1.2rem;
    }
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* features */
.new-features {
  padding: 2rem;
  background: hsl(var(--main-color));
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.new-features .tag {
  padding: 4px 8px;
  border-radius: 50px;
  background: white;
  text-transform: capitalize;
  color: hsl(var(--main-color));
}

.new-features p {
  color: hsl(var(--sec-color));
}

/* logos */
.logos-section {
  margin-block: 4rem;
}

.logos-cards {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.logo-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.logo-card p {
  font-weight: bold;
  text-align: center;
  max-width: 270px;
  font-size: 1.5rem;
}

.dev {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.dev-img {
  width: 60px;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
}

/* Subscribe */
label {
  font-weight: bold;
  font-size: 1rem;
  margin-top: 12px;
}

.contact-img {
  width: 70px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: rgba(41, 40, 40, 0.08);
}

.contact {
  min-height: 100vh;
  background: url("../../assets/images/section-background.png"),
    rgba(41, 40, 40);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  padding-block: 3em;

  &-layout {
    align-items: center;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &-info {
    width: 100%;

    h2 {
      color: white;
      line-height: 2;
      font-size: 1.8rem;
    }

    p {
      color: hsl(var(--sec-color));
      line-height: 2.5;
    }
  }

  &-form {
    background: #ffffff;
    width: 385px;
    padding: 2rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    button {
      width: 100%;
    }
  }
}

/*
subscribe
*/
.subscribe {
  margin-block: 2rem;

  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    justify-content: center;
  }

  &-input {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  h2 {
    width: 100%;
  }
}

// Footer Section
.footer-box {
  .title {
    color: rgba(22, 28, 45, 0.7);
    margin-bottom: 3rem;
  }

  p {
    margin-block: 1.5rem;
    font-size: 17px;
    font-weight: 400;
    transition: 0.3;

    &:hover {
      color: rgba(22, 28, 45, 0.7);
    }
  }
}

.footer-layout {
  display: grid;
  gap: 2rem;
  margin-top: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.social {
  margin-block: 2rem;
}

.links {
  gap: 18px;

  i {
    font-size: 1.5rem;
    transition: 0.3s;
  }

  li:nth-child(2):hover i {
    color: #3bbdf0;
  }

  li:nth-child(3):hover i {
    color: #f0413b;
  }
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  header p {
    font-size: 1.5rem;
  }

  .stats-cards h3 {
    font-size: 1.5rem;
  }

  .stats-cards p {
    font-size: 1.2rem;
  }

  .about-layout {
    flex-direction: row;
    align-items: center;
  }

  .contact-layout {
    flex-direction: row;
  }

  .about-content {
    width: 50%;
    padding-left: 2rem;
  }

  .subscribe h2 {
    width: 50%;
  }

  .subscribe .container {
    justify-content: space-between;
  }

  .contact-info {
    width: 50%;
  }

  .contact-info p {
    font-size: 1.2rem;
  }

  .contact-info h2 {
    font-size: 2.2rem;
  }
}

@media (min-width: 1024px) {
  header h1 {
    font-size: 2.5rem;
  }

  .new-features p {
    font-size: 1.4rem;
  }

  .logos-cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .stats-cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .stats-cards h3 {
    font-size: 2.4rem;
  }

  .section-head h2 {
    font-size: 3rem;
  }

  .section-head p {
    font-size: 1.1rem;
  }

  .footer-layout {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 768px) {
  nav button {
    display: none;
  }

  header .right {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .about .img-container {
    width: 100%;
    margin-bottom: 2rem;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  .services-cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
